name: Create release-branch 

on:
  repository_dispatch:
    types: [create-release-branch]

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/debug-action@v2

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - run: git checkout -b ${{github.event.client_payload.release_name}}
      - run: echo ${{github.event.client_payload.release_name}} >> .github/release-branches-tracking.txt && git add -A && git status && git diff && git diff --cached

      - uses: stefanzweifel/git-auto-commit-action@v4.12.0
        with:
          branch: ${{github.event.client_payload.release_name}}
          commit_message: Automated Change
      - run: git push --set-upstream origin ${{github.event.client_payload.release_name}}

      - name: Create Pull-Request
        uses: thomaseizinger/create-pull-request@1.2.2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          head:  ${{github.event.client_payload.release_name}}
          base: master
          title: "[num:${{github.event.client_payload.release_id}}] ${{github.event.client_payload.release_name}} ${{github.event.client_payload.release_description}}"
